# requirements.txt

```txt
kaggle
pandas
numpy
scikit-learn
matplotlib
yfinance
cvxpy
PyPortfolioOpt
seaborn
xgboost
lightgbm
tensorflow
torch
yfinance
scipy
statsmodels
streamlit
plotly
jupyter
pytest
black
flake8
